@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/geomanist-regular-webfont.woff2') format('woff2'),
         url('../fonts/geomanist-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
