@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background: $dark2;
    font-family: 'Lato', sans-serif;
    color: $light;
    height: 100vh;

    h1 {
        font-family: 'Geomanist';
    }

    a {
        color: $primaryDark;
        text-decoration: none;
    }

    > .app-wrapper {
        width: 100%;
        min-height: 100%;
        box-sizing: border-box;
        padding: 0;
        border: 15px solid $black;
    }

    .page-content {
        padding: 80px 30px 0px 30px;
        box-sizing: border-box;
    }
}
