#template-home {
    .page {
        &__header {
            position: relative;
            height: calc(100vh - 120px);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            #main-title {
                // position: absolute;
                // left: 0;
                // bottom: 10px;
                font-size: 80px;
                line-height: 100px;
                margin: 0;

                > span {
                    display: block;
                    overflow: hidden;
                    word-break: break-all;
                    white-space: nowrap;
                    height: 100px;
                    overflow: hidden;

                    &.line1 {
                        transform-origin: left;
                    }

                    &.line2 {
                        transform-origin: right;
                    }
                }
            }

            #main-cta {
                margin-top: 30px;
                margin-bottom: 20px;
                width: auto;
                height: 40px;

                > a {
                    padding-left: 25px;

                    > span {
                        display: inline-block;
                        vertical-align: top;
                        height: 40px;
                        max-height: 40px;

                        > svg {
                            margin-top: 10px;
                            margin-left: 5px;
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}
