#template-home {
    .page {
        &__header {
            position: relative;
            height: calc(100vh - 120px);

            h1 {
                position: absolute;
                left: 0;
                bottom: 10px;
                font-size: 80px;
                line-height: 100px;
                margin: 0;

                > span {
                    display: block;
                    overflow: hidden;
                    word-break: break-all;
                    white-space: nowrap;
                    height: 100px;
                    overflow: hidden;

                    &.line1 {
                        transform-origin: left;
                    }

                    &.line2 {
                        transform-origin: right;
                    }
                }
            }
        }

        &__more {
            p {
                max-width: 400px;
                line-height: 150%;
                color: $lightAlpha;
            }
        }
    }
}
