{% extends "twig/layout/base.twig" %}

{% block content %}
    <section class="page__header">
        <h1>Error 404</h1>
        <p>
            Template not found
        </p>
    </section>
{% endblock %}
