{% extends "twig/layout/base.twig" %}

{% block content %}
    <section class="page__header">
        <h1>Archive</h1>
        <p>
            Template for archive
        </p>
    </section>
{% endblock %}
