{% extends "twig/layout/base.twig" %}

{% block content %}
    <section class="page__header">
        <h1 id="main-title">
            <span class="line1">Another ES6 starter</span>
            <span class="line2">built to do good shit.</span>
        </h1>
        <div id="main-cta">
            <a href="https://github.com/TheoKleman/rocket" target="_blank" class="c-btn s-no-hover">
                <span>Learn more on Github</span>
            </a>
        </div>
    </section>
{% endblock %}
