{% extends "twig/layout/base.twig" %}

{% block content %}
    <section class="page__header">
        <h1>Single project</h1>
        <p>
            Template for single type "project"
        </p>
    </section>
{% endblock %}
