.c-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $dark;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    z-index: 100;

    h1 {
        font-family: 'Geomanist';
        font-size: 65px;
        margin: 0;
        margin-bottom: 15px;
        text-shadow: 0 0 100px rgba($purple, .55);
    }

    span {
        color: $purpleDark;
    }
}
