<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TITLE -->
    <title>Rocket - Demo</title>

    <meta name="description" content="Rocket - Another ES6 Starter built to do good shit!" />

    <!-- FAVICON -->
    <link rel="icon" href="{{site.theme.link}}/img/favicon.png" type="image/png">

    <!-- CSS -->
    <link href="{{site.theme.link}}/css/main.css" rel="stylesheet">
</head>
