<header class="c-header">
    <h1>
        <a href="<?php echo $app->urlFor('home'); ?>">
            Rocket
        </a>
    </h1>
    <ul>
        <li><a href="<?php echo $app->urlFor('about'); ?>">About this project</a></li>
        <li><a target="_blank" href="https://github.com/TheoKleman/rocket">View source on Github</a></li>
        <li><a target="_blank" href="https://twitter.com/Theo_KlMan">Follow me on twitter</a></li>
    </ul>
</header>
